domain_type: rectangular
shape: [{number_of_columns}, {number_of_rows}]
size: [{grid_size_x}, {grid_size_y}]
output_filename: {output_filename}
output_timestep: {output_timestep}
boundary_conditions: {dict_of_boundary_conditions}
elevation_profile : {elevation_profile}
initial_flow_depth: {initial_flow_depth}
toggle_sediment_transport: {use_sed_transport_operator}
inflow_sediment_concentration: {inflow_sediment_concentration}
initial_sediment_concentration: {initial_sediment_concentration}
toggle_vegetation_drag: {use_vegetation_operator}
vegetation_stem_diameter: {stem_diameter}
vegetation_stem_spacing: {stem_spacing}
Mannings_n_parameter: {friction_parameter}

