domain_type: outline
output_filename: {output_filename}
output_timestep: {output_timestep}
boundary_tags: {dict_of_boundary_tags}
boundary_conditions: {dict_of_boundary_conditions}
maximum_triangle_area: {maximum_triangle_area}
initial_flow_depth: {initial_flow_depth}
interior_polygon_filename: {interior_polygon_filename}
interior_polygon_triangle_area: {interior_polygon_triangle_area}
toggle_sediment_transport: {use_sed_transport_operator}
inflow_sediment_concentration: {inflow_sediment_concentration}
initial_sediment_concentration: {initial_sediment_concentration}
toggle_vegetation_drag: {use_vegetation_operator}
vegetation_stem_diameter: {stem_diameter}
vegetation_stem_spacing: {stem_spacing}
Mannings_n_parameter: {friction_parameter}

